@using AspProject_Entities.Models
@model List<Product>
@section Header{
    <h1>WelcomePage</h1>
}
<link rel="stylesheet" href="~/css/site.css" />
@foreach (Product product in Model)
{
<a asp-controller="Product" asp-action="ProductDetails" asp-route-id="@product.Id">
    <div class="partialViewWrapper d-inline-block text-center rounded border border-primary">
        <div class="align-top h-85 overflow-hidden">
            @await Html.PartialAsync("PartialProduct", product)
        </div>
        <a asp-controller="Product" asp-action="addToCart" asp-route-id="@product.Id" class=" h6 small align-bottom">
            AddToCart
        </a>
    </div>
</a>
}
