<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AspProject</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/Magnifier.css" rel="stylesheet" />
</head>
<body>
    <header class="border-bottom">
        <div class="container">
            <div class="row">
                <div role="main" class="col-6 text-right">
                    @RenderSection("Header", required: false)
                </div>
                <div class="col-3 zoom">
                    <a asp-controller="Master" asp-action="WelcomePage">
                        <img src="~/Images/download.png" class="img-responsive rounded float-left h-auto w-25" />
                    </a>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row pb-3">
            <div role="main" class="col border-right h-auto overflow-auto">
                @RenderBody()
            </div>
            <div class="col-4">
                <div>
                    @await Html.PartialAsync("UserLogIn", new SignInModel())
                </div>
                <div class="col border-top border-primary">
                    @await Html.PartialAsync("NavigationBar")
                </div>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/js/SignInValidations.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
