<ul class="nav navbar-nav text-center">
    <h3>Site Navigation</h3>
    <li class="nav-item active">
        <a class="nav-link btn btn-outline-primary" href="#">Home Page<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link btn btn-outline-primary" href="#">Account</a>
    </li>
    <li class="nav-item">
        <a class="nav-link btn btn-outline-primary" href="#">About us</a>
    </li>
    <li class="nav-item">
        <a class="nav-link btn btn-outline-primary" href="#">עגלת קניות</a>
    </li>
</ul>

