<ul class="nav navbar-nav text-center">
    <h3>Site Navigation</h3>
    <li class="nav-item active">
        <a asp-controller="Master" asp-action="WelcomePage" class="nav-link btn btn-outline-primary">Home Page<span class="sr-only">(current)</span></a>
    </li>
    @if (Context.Items.ContainsKey("User"))
    {
        <li class="nav-item">
            <a class="nav-link btn btn-outline-primary" asp-controller="User" asp-action="EditUser">Account</a>
        </li>
    }
    <li class="nav-item">
        <a class="nav-link btn btn-outline-primary" href="#">About us</a>
    </li>
    <li class="nav-item">
        <a class="nav-link btn btn-outline-primary" asp-controller="Product" asp-action="Cart">Shopping Cart</a>
    </li>
    @if (Context.Items.ContainsKey("User"))
    {
        <li class="nav-item">
            <a class="nav-link btn btn-outline-primary" asp-controller="Product" asp-action="New_Advert">Publish Advert</a>
        </li>
    }
</ul>

