@model string

@if (Context.Items.ContainsKey("User"))
{
    <div class="p-3">
        <div class="h4 text-center">
            <div>
                
                <span class="border-bottom border-4">Welcome @Context.Items["User"]</span>
            </div>
            <div>
                <span class="border-bottom border-4">Have a great </span><span class="border-bottom border-4" id="ScedualedRespond"></span>
            </div>
        </div>
        <div class="text-center">
            <a asp-controller="User" asp-action="SignOut">Sign out</a>
        </div>
    </div>
}
else
{
    <form class="form-signin text-center" asp-action="SignIn" asp-controller="User">
        <h2 class="mb-3 fw-normal">Sign in</h2>
        <input name="username" class="h4 form-control" placeholder="Username" required="">
        <input type="password" name="password" class="h4 form-control" placeholder="Password" required="">
        <button class="h3 w-25 btn btn-primary btn-sm">Sign in</button>
        <a asp-action="SignUp" asp-controller="User" class="h3 w-25 btn btn-primary btn-sm">Sign Up</a>
    </form>
}