<form class="form-signin text-center">
    <h2 class="mb-3 fw-normal">Sign in</h2>
    <input type="email" id="inputEmail" class="h4 form-control" placeholder="Email address" required="" autofocus="">
    <input type="password" id="inputPassword" class="h4 form-control" placeholder="Password" required="">
    <button class="h3 w-25 btn btn-primary btn-sm">Sign in</button>
    <button class="h3 w-25 btn btn-primary btn-sm">Sign up</button>
</form>